header{
    width: $width;
    .container-child-1{
        @include height(500px,450px);
        background-color: $coloreHeader;
        width: $width;
        ul.list-items-child-1{
            @include flex(flex-end,center,initial);
            list-style-type: $none;
            padding-right: 130px;
            line-height: $lineHeightHeader;
            li{
                padding-left: $margin;
                color: $coloreLiHeader;
                span{
                    color: #009cff;
                    a{
                        text-decoration: $none;
                        color: $coloreLiHeader;
                    }
                }
                
            }
        }
    }

    .container-child-2{
        @include height(500px,420px);
        background-color:$coloreHeader;
        width: $width;
        .header-bottom-list{
            height: $width;
            width: 1000px;
            margin: 0 auto;
            @include flexAstr(align-items,baseline,justify-content,normal);
            color: white;
            .logo{
                width: 20%;
            }
            .navbar{
                width: 80%;
                .list-item-child-2{
                    list-style-type: $none;
                    @include flexAstr(align-items,baseline,justify-content,space-between);
                }
            }
        }
    }

    .container-child-3{
        @include height(500px,120px);
        background-color: $coloreHeader;
        background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg);
        @include background-image(background-size,cover,background-position,top center);
        .jumbotron{
            display: flex;
            width: 1000px;
            height: $height;
            margin: 0 auto;
            &-child-0{
                flex: 0 0 25%;
                flex-direction: column;
                @include flexAstr(align-items,center,justify-content,flex-end);
                padding-bottom: $margin;
                color: white;
            }
            &-child-1{
                flex: 0 0 45%;
                color: white;
                padding: 50px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                @include flexAstr(align-items,flex-start,justify-content,space-around);
                ul{
                    list-style-type: $none;
                }
            }
            &-child-2{
                margin-top: $margin;
                flex: 0 0 33%;
                background-color: rgba(0, 0, 0, 0.8);
                padding: $margin 10px;
            }
        }
    }
}

