// colori
$coloreHeader: #101010;;
$coloreLiHeader: #989898;

// altezze header
$altezzaHeader: 500px;
$lineHeightHeader: 50px;

// larghezza e altezza
$width:100%;
$height: 100%;

// valori reset
$none: none;

//margini e padding
$margin: 20px;

